* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.video-foreground {
    position: relative;
    height: 30vh;
    overflow: hidden;
}

.video-foreground video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none; 
}

