* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-weight: 500;
    font-family: "Prompt", sans-serif;
    font-style: normal;
    letter-spacing: 3px;
    ::-webkit-scrollbar {
    display: none; 
    }
    @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
body {
   background-image: url(/180123.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
#navbar a{
    color: white;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}
#navbar a:hover{
    border-bottom: 2px solid midnightblue;
}
.subscribe-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.subscribe-heading {
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
    background: rgba(53, 53, 53, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
}

.subscribe-heading::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: inherit;
    z-index: -1;
    filter: blur(10px);
    border-radius: inherit;
}
.subscribe-button{
    border: none;
    background: none;
    text-transform: none;
    margin-left: 20px;
}
.subscribe-button:hover {
    background: none;
    color: midnightblue;
    border-bottom: 2px solid midnightblue;
    outline: none;
}
.view-more-button {
    background: none;
    color: white;
    border: none;
    padding: 10px 10px;
    margin: 10px 10px;
}
.view-more-button:hover{
    border-bottom: 2px solid midnightblue;
    transition: all .3s ease-in-out;
    padding: 10px 10px;
    margin: 10px 10px;
}
*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
   }
  
  
  .mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 100px;
    margin-top: 125px;
  }
  
  
  .m_scroll_arrows
  {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
     
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    
    width: 16px;
    height: 16px;
  }
  
  
  .unu
  {
    margin-top: 1px;
  }
  
  .unu, .doi, .trei
  {
      -webkit-animation: mouse-scroll 1s infinite;
      -moz-animation: mouse-scroll 1s infinite;
      animation: mouse-scroll 1s infinite;
    
  }
  
  .unu
  {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    animation-delay: alternate;
  }
  
  .doi
  {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    animation-delay: .2s;
    animation-direction: alternate;
    margin-top: -6px;
  }
  
  .trei
  {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    animation-delay: .3s;
    animation-direction: alternate;
    margin-top: -6px;
  }
  
  .mouse {
    height: 42px;
    width: 24px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
  }
  
  .wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
  }
  
  .wheel {
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
    animation: mouse-wheel 0.6s linear infinite;
  }
  
  @-webkit-keyframes mouse-wheel{
     0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      opacity: 0;
      -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
      transform: translateY(6px);
    }
  }
  @-moz-keyframes mouse-wheel {
    0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @-o-keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  @keyframes mouse-wheel {
  
     0% { top: 1px; }
    25% { top: 2px; }
    50% { top: 3px;}
    75% { top: 2px;}
    100% { top: 1px;}
  }
  
  @-webkit-keyframes mouse-scroll {
  
    0%   { opacity: 0;}
    50%  { opacity: .5;}
    100% { opacity: 1;}
  }
  @-moz-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @-o-keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }
  @keyframes mouse-scroll {
  
    0%   { opacity: 0; }
    50%  { opacity: .5; }
    100% { opacity: 1; }
  }

  #card-item-name {
    color: midnightblue;
  }
  #card-body {
    background: linear-gradient(grey,white) ;
  }
  .position-relative {
    position: relative;
  }
  
  #our-story {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    z-index: 10; 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px; 
  }
  
  .carousel-inner img {
    height: 100vh;
    object-fit: cover;
    filter: blur(2px);

  }
  